<!-- LOGIN VIEW -->
<ion-view view-title="Login">
	
    <ion-content class="login-screen">

        <div class="list list-inset login-screen">

            <!-- LOGO -->


            <!-- INTRO -->
            <h4 class="login-intro"> Welcome to EatWell - Login here </h4>

            <!-- LOGIN  WITH FACEBOOK-->
            <button class="button button-block button-positive button-border" ng-click="fbLogin()">
            
                <i class="icon ion-social-facebook"></i> Login with Facebook

            </button>

            <!-- LOGIN WITH GOOGLE -->
            <button class="button button-block button-assertive button-border" ng-click="LogIn(user)">
            
                <i class="icon ion-social-google"></i> Login with Google

            </button>

        </div>

    </ion-content>

</ion-view>

